* {
    padding: 0px;
    margin: 0px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: orange;
    text-decoration: none;
}

.padd-top {
    padding-top: 10px;
}

.search_input {
   /* 宽400，高36，左浮动，边框2，颜色#ffc900，左内边距10，外轮廓outline设置为0*/
    width: 400px;
    height: 36px;
    float: left;
    border: 2px solid #ffc900;
    padding-left: 10px;
    outline: 0px;
}

.search_button {
    /*点击按钮，是一个链接：左浮动，宽90，高36，背景色#ffc900，行高36，文本居中*/
    float: left;
    width: 90px;
    height: 36px;
    background-color: #ffc900;
    text-align: center;
    line-height: 36px;
}

.jx_top {
    /*外上边距15px, 底部边框2px 实线 #ffc900做为下面的线，
    宽度100%，高度35px，行高35px，外下边距5px。图标文件：icon_5.jpg*/
    margin-top: 15px;
    border-bottom: 2px solid #ffc900;
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin-bottom: 5px;
}

.company {
    /*字体大小12，背景色#ffc900，文字居中对齐，高度与行高为40px*/
    font-size: 12px;
    background-color: #ffc900;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

